html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title GTask-API
  body
    h1 GTask-API
    p 認証に失敗しました。もう一度お試しください。
    a(href="/") 戻る