html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="robots" content="noindex")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    title GTask-API
    style.
      body {
        max-width: 720px;
        margin: 32px auto;
      }
      h3 {
        font-size: 1.5rem;
        margin-top: 32px;
      }
  body
    h1
      img(src="gtask-api.png" style="max-width: 100%; margin-bottom: 16px;")

    h2 プライバシーポリシー
    h3 当サービスの機能
    p 当サービスは、Google Tasks APIを用いて、REST APIで自分のタスクを追加する為のサービスです。

    h3 情報の取得について
    p 当サービスでは、Google Tasks APIを利用して、Google Tasksのタスクリストを取得します。<br>
    | これを除くデータは一切取得しません。

    h3 情報の利用について
    p タスクリストは、タスクを登録するリストを選択するためのIDを取得する為にのみ使用します。

    br
    a(href="/") 戻る