html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="robots" content="noindex")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    title GTask-API
    style.
      body {
        max-width: 720px;
        margin: 16px auto;
        padding: 0 16px;
      }
      h3 {
        font-size: 1.5rem;
        margin-top: 32px;
      }
  body
    h1
      a(href="/en")
        img(src="/gtask-api.png" style="max-width: 100%; margin-bottom: 16px;")

    div(style="text-align: center; margin: 16px 0;")
      span
        a(href="/ja/privacy") JA
      span &nbsp;/&nbsp;
      span EN

    h2 Privacy Policy

    h3 About
    p This Privacy Policy summarizes the handling of personal information and data when using the GTask-API.

    h3 Personal Information
    p This service does not collect personal information.
    | No Google API calls are made to retrieve personal information. No information about your Google account is ever sent to you.<br>
    | There is no provision for sharing personal information in this privacy policy. This is because we don't need to share personal information because we don't get it.<br>

    h3 Data Access
    p The service calls two Google Tasks APIs. First, to add a task, you call the API to add the task. Second, get the task list list to select the task list to add the task to. The service does not call any other Google APIs.

    h3 Cookie
    p No Cookies Used

    p If you have any questions regarding this privacy policy, please contact us at contact@mizucoffee.net.

    br
    div(style="text-align: center; margin-bottom: 16px;")
      a(href="/") Back

    div(style="text-align: center;")
      a(href="/ja/privacy") Privacy Policy
      p Copylight&copy;2019 mizucoffee all rights reserved.