html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="robots" content="noindex")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    title GTask-API
    style.
      body {
        max-width: 720px;
        margin: 16px auto;
        padding: 0 16px;
      }
  body
    h1
      a(href="/en")
        img(src="/gtask-api.png" style="max-width: 100%; margin-bottom: 16px;")

    div(style="text-align: center;")
      p Authentication succeeded.
      p(style="font-size: 24pt; word-wrap: break-word;") Your ID is <strong>#{id}</strong>

    div(style="text-align: center; margin-bottom: 16px;")
      a(href="/en") Back

    div(style="text-align: center;")
      a(href="/en/privacy") Privacy Policy
      p Copylight&copy;2019 mizucoffee all rights reserved.